@import './scss/main';

.app {
  padding: 10px;

  .error-info {
    color: $error;
    margin-bottom: 16px;
  }

  .example {
    border: solid 1px $border-grey;
    padding: 16px;
    margin-bottom: 16px;
    background-color: $grey-light;
  }

  .props-table {
    width: 100%;
  }

  .navigation {
    float: left;
    width: 250px;
    list-style-type: none;
    padding: 0;
  }

  .componentpage {
    margin-left: 275px;
  }

  .address-line {
    display: block;
  }

  .mandatory {
    color: $red-light;
  }

  .visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
  }

  .link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
  }

  .invalid:focus {
    border: 1px solid $error;
  }
}
