.body, .p {
  font-family: chevin-medium,Helvetica,Arial,"Nimbus Sans L",sans-serif;
  line-height: 1;
  font-size: 1.125rem;
  font-weight: 400;
  color: #6C6C6C;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.error-ifo {
  font-size: 16px;
  line-height: 1.5;
  word-break: break-word;
  color: #da202a;
}

.mandatory {
  color: #da202a;
}
.address-line {
  display: block;
}